@model IEnumerable< Ajax_crud.Models.StudentModel>
@{
    ViewData["Title"] = "Student";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Home Page</h1>
    <hr />
</div>
<div class="row">
    <div class="col-sm-12"></div>
</div>
<form>
    <input type="hidden" id="hdn-student-id" />
    <div class="row justify-content-center">
        <div class="col-sm-6">
            <label for="email" class="form-label">Email</label>
            <input type="email" class="form-control" id="email" placeholder="Enter your email">
            <div class="invalid-feedback">
                Please enter a valid email.
            </div>
        </div>
        <div class="col-sm-6">
            <label for="lastName" class="form-label">Name</label>
            <input type="text" class="form-control" id="name" placeholder="Enter Your Name" value="" required="">
            <div class="invalid-feedback">
                Name is required.
            </div>
        </div>
    </div>
</form>

<div style="margin-top: 20px;">
<div class="row">
    <div class="col-md-12">
        <table class="table table-bordered">
            <thead>
                <tr class="text-center">
                    <td>No</td>
                    <td>Name</td>
                    <td>Email</td>
                    <td>Action</td>
                </tr>
            </thead>
            <tbody id="student-list">
                @{
                    foreach (var student in Model)
                    {
                        <tr>
                            <td>@student.Id</td>
                            <td>@student.Name</td>
                            <td>@student.Email</td>
                            <td class="text-center">
                                <a href="javascript:void(0)" data-studentid="@student.Id" class="btn btn-success btn-get-student">Get Student</a>
                            </td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
</div>
         <td style="text-align: right;"><a href="javascript:void(0)" class="btn btn-primary" id="btn-insert-student">Save Student</a></td>
         <td style="text-align: right;"><a href="javascript:void(0)" class="btn btn-info" id="btn-update-student">Update Student</a></td>
         <td style="text-align: right;"><a href="javascript:void(0)" class="btn btn-danger" id="btn-delete-student">Delete Student</a></td>
</div>
